html
{
    font-family: 'Kumbh Sans', sans-serif;
}

.flexContainer
{
    display: flex;
    flex-flow: wrap;
    margin: 4px;
}

#youtube
{
    flex: 45%; 
}

#twitter
{
    flex: 45%; 
}

#github
{
    flex: 45%; 
}

#email
{
    flex: 45%; 
}

#twitterLogo
{
    height: auto;
    max-width:280px;
}

#youtubeLogo
{
    height: auto;
    max-width: 450px;
    min-width: 20px;
    margin:0px;
} 

.title
{
    text-align: center;
    padding-top: 1px;
}

a
{
    text-decoration: none;
}

.refer
{
    text-align: center;
    font-size: 24px;
}

.contact
{
    background-color: rgba(8, 146, 165,0.4);
    text-align: center;
    margin:6px;
}

.logo
{
    height: auto;
    max-width: 35%;
    margin: 8px;
    transition: 0.2s; 
}

.logo:hover
{
    transform: scale(1.09);

}