body
{
   font-family: "Lucida Console", Monaco, monospace;
}

h1 
{
    color: rgb(1, 22, 39);
}

p
{
    color: rgb(1, 22, 39);
}
#flexcontainer
{
    display: flex;
    justify-content: space-between;
}

.entryDiv
{
    display: flex;
    flex-direction: row-reverse;
    flex-flow: wrap;
    width: 600px;
    border-left-style: solid;
    border-width: 8px;
    border-color: rgb(1, 22, 39);
    background-color:lightgrey;
    box-shadow: 10px 10px 5px grey;
}

#entryDiv00:hover  #entryTitle00
{
    font-size: 30px;
    transition: 0.2s;
}

#entryDiv01:hover  #entryTitle01
{
    font-size: 30px;
    transition: 0.2s;
}

#entryDiv02:hover  #entryTitle02
{
    font-size: 30px;
    transition: 0.2s;
}

.entryTitle
{
    padding: 5px;
}

.entry
{
    padding: 8px;
}

#example
{
    margin-left: 5px;
    margin-top: 5px;
}

#Title
{
    text-align: center;
}

#intro 
{
    text-align: center;
}

#main
{
    background-color: rgb(160, 113, 120);
} 

#gambino
{
    border-radius: 20px;
    height: 320px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 10px;
}
/*Comments in CSS are writen like this one*/ 

#navBar
{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.navItem
{
    background-color: lightgrey;
    border-left-style: solid;
    border-width: 8px;
    border-color: rgb(1, 22, 39);
    padding: 4px;
}